services:
  - type: web
    name: repduel-web
    env: static
    staticPublishPath: deploy/public
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    headers:
      - path: /*
        name: Content-Security-Policy
        value: >-
          default-src 'self';
          base-uri 'self';
          object-src 'none';
          script-src 'self' https://js.stripe.com https://m.stripe.network 'unsafe-inline' 'unsafe-eval' blob:;
          style-src  'self' 'unsafe-inline';
          img-src    'self' https: data: https://cdn.repduel.com;
          font-src   'self' data:;
          connect-src 'self' https://api.repduel.com https://api.stripe.com https://m.stripe.com https://m.stripe.network https://js.stripe.com;
          frame-src  https://js.stripe.com https://hooks.stripe.com;
          worker-src 'self' blob:;
      - path: /*
        name: Strict-Transport-Security
        value: max-age=31536000; includeSubDomains; preload
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
      - path: /*
        name: Referrer-Policy
        value: strict-origin-when-cross-origin
