name: flutter_secure_storage_web
description: Minimal stub that disables flutter_secure_storage on the web.
publish_to: "none"
version: 0.0.1+stub

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  plugin:
    platforms:
      web:
        pluginClass: FlutterSecureStorageWeb
        fileName: flutter_secure_storage_web.dart
